<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style>
table
{
    border-spacing: 5px;
    border-collapse: collapse;
}

table,
th,
td
{
    border: 1px solid black;
}

th,
td
{
    padding: 5px;
}

.green
{
    color: green;
}
    </style>
  </head>
  <body>
    <h1>Introducció</h1>
    <p>Aquest recull de termes s'ha generat de forma automatitzada a partir de
      les traduccions diferents projectes. Té com a objectiu donar a conèixer
      la terminologia que usem per cada terme.</p>
    <p>L'objectiu d'aquest recull de termes no és la correctesa, atès que està
      generat automàticament, sinó ser un reflex viu de la terminologia que
      estem emprant. Us trobareu opcions terminològiques que poden ser només
      vàlides en contextos molt concrets i fins i tot incorrectes per errors de
      traducció.
    </p>
    <p>Llegenda:</p>

    <ul>
      <li>La columna 'Anglès' conté el terme en anglès.</li>
      <li>La columna 'Català' és l'opció més comuna per aquell terme en
        anglès.
      </li>
      <li>La columna 'Opcions considerades' indica quines altres traduccions
        apareixen per aquest terme i s'han considerat.
      </li>
      <li>Per a cada opció, entre parèntesis, 'usada' indica el percentatge
        d'ús respecte a altres opcions i 'coincidències' els cops que s'ha
        trobat.
      </li>
    </ul>

    <p>Les formes <span class="green">en color verd</span> són les documentades
      en els recursos en línia del TERMCAT.
    </p>
    <p>{{description}}</p>

    <table>
      <tr>
        <th>Anglès</th>
        <th>Català</th>
        <th>Opcions considerades</th>
      </tr>
      {{#entries}}
      <tr>
        <td>{{source}}</td>
        <td>{{translation}}</td>
        <td>
        {{#translations}}
          <p{{#termcat}} class="green"{{/termcat}}>
            - {{translation}} (usada {{percentage}}%, coincidències
            {{frequency}})
          </p>
        {{/translations}}
        </td>
      <tr>
      {{/entries}}
    </table>

    <p>Data de generació: {{date}} (Entrades: {{num_of_entries}})</p>
  </body>
</html>
