# /docs/
/docs/_build/

# General
*.bak
*.pyc
*.pyo

# ViM-generated
*.swn
*.swo
*.swp
*~

# Emacs-generated
.#*
\#*#

# Coverage
.coverage.*

# Logs
builder-error.log
builder.log

# Temporary files
src/gerrit-projects.json
src/output/
src/tmp/
statistics.db3

# Credentials
/cfg/credentials/*.yaml
!/cfg/credentials/*-sample.yaml

# Node.js optional dev dependencies
/node_modules/
