# /docs/
/docs/_build/

# General
*.bak
*.pyc
*.pyo

# ViM-generated
*.swn
*.swo
*.swp
*~

# Emacs-generated
.#*
\#*#

# Coverage
.coverage.*

# Logs
builder-error.log
builder.log

# Temporary files
src/gerrit-projects.json
src/output/
src/tmp/
statistics.db3
