# Translate toolkit 1.3 and android2po 1.5 did not work well on python 3
# Instead we install them in the system as python 2 dependencies
# translate-toolkit 
# android2po


# For importing translations/creating TM files.
polib >= 1.0.4
transifex-client
pystache
peewee
hunspell

# Fix android2po requirements.
babel >= 1.0

# For server.
Whoosh
Jinja2
flask

# For testing.
pytest
flake8
nose
coveralls

# For documentation.
Sphinx>=1.2.2
