# For importing translations/creating TM files.
polib >= 1.0.4
transifex-client
# Versions 1.13 in Python 3 were broken
translate-toolkit <= 1.10
android2po
pystache
peewee
hunspell

# Fix android2po requirements.
babel >= 1.0

# For server.
Whoosh
Jinja2
flask

# For testing.
pytest
flake8
nose
coveralls

# For documentation.
Sphinx>=1.2.2
