# For importing translations/creating TM files.
polib >= 1.0.4
transifex-client
translate-toolkit
android2po
pystache

# Fix android2po requirements.
babel >= 1.0

# For server.
Whoosh
Jinja2

# For testing.
pytest
flake8
nose
coveralls

# For documentation.
Sphinx>=1.2.2
