<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" media="screen" href="css/recursos.css" />
    <link type="text/css" rel="stylesheet" href="/css/cookies/cookiecuttr.css" />
    <link href="ssi/css/main.min.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/cookies/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/cookies/jquery.cookiecuttr.js"></script>
    <script type="text/javascript" src="/js/softcatala.js"></script>

    <script type="text/javascript" src="ssi/js/main.min.js"></script>
   <title>{{title}}</title>
  </head>
  <body>
    <!--#include virtual="/ssi/menu-header.html" -->

   <section role="main" class="content-wrapper" id="content">
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-9">
                    <h1>{{title}}</h1>
                    <div class="compartiu">
                        <p>Compartiu</p>
                        <ul class="compartiu-media">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.softcatala.org/recursos"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/intent/tweet?text= Recursos per a traductors de #softcatala https://www.softcatala.org/recursos"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </section>

<div class="container-fluid">

      <p>{{text}}</p>
        <table border="1" cellpadding="5px" cellspacing="5px" style="border-collapse:collapse;">
          <tr>
            <th>Anglès</th>
            <th>Català</th>
            <th>Codi</th>
          </tr>
        {{#entries}}
          <tr>
            <td>{{source}}</td>
            <td>{{target}}</td>
            <td>{{code}}</td>
          </tr>
        {{/entries}}
        </table>
      </div>
    </div>
        <!--#include virtual="/ssi/footer-content.html" -->
  </body>
</html>
