<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<h1>Introducció</h1>
<p>Aquest recull de termes ha estat generat de forma automatitzada a partir de les traduccions diferents projectes. 
Té com a objectiu donar a conèixer la terminologia que usem per cada terme. Recomanem usar-lo tenint present que ha estat generat automàticament.</p>
<p>Llegenda:
<ul>
<li>La columna opcions considerades indica quines altres traduccions apareixen per aquest terme i s'han considerat.</li>
<li>La columna català és l'opció més comuna.</li>
<li>Usada indica el % d'ús respecte a altres opcions i coincidències els cops que s'ha trobat.</li>
</ul>
<p>Les formes <font color="green">en color verd</font> són les recomanades pel TERMCAT</p>
<p>{{description}}</p>
<table border="1" cellpadding="5px" cellspacing="5px" style="border-collapse:collapse;">
    <tr>
    <th>Anglès</th>
    <th>Català</th>
    <th>Opcions considerades</th>
    </tr>
    {{#entries}}
    <tr>
        <td>{{source}}</td>
        <td>{{translation}}</td>
        <td> {{#translations}}
                {{#termcat}}<font color="green"> {{/termcat}}
                <p>- {{translation}} (usada {{percentage}}%, coincidències {{frequency}})</p>
                {{#termcat}}</font>{{/termcat}}
            {{/translations}} </td>
    <tr>
    {{/entries}}
</table>
<p>Data de generació: {{date}}</p>
</html>
