<h1 class="recursos-section">Baixa les memòries de traducció</h1>

<p>Baixeu les memòries de traducció per poder-les afegir al vostre programa de
  traducció habitual.
</p>
<p>Disposem dels següents documents que descriuen com usar memòries de
  traducció amb diferents eines:
</p>

<ul>
  <li>
    <a href="https://www.softcatala.org/wiki/Configurar_PoEdit_amb_mem%C3%B2ries_de_traducci%C3%B3">
      Com configurar el PoEdit amb memòries de traducció
    </a>
  </li>
  <li>
    <a href="https://www.softcatala.org/wiki/Configurar_Lokalize_amb_mem%C3%B2ries_de_traducci%C3%B3">
      Com configurar el Lokalize amb memòries de traducció
    </a>
  </li>
</ul>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Projecte</th>
    <th>Fitxer PO</th>
    <th>Fitxer TMX</th>
    <th>Paraules traduïdes</th>
    <th>Última baixada de la memòria</th>
    <th>Última actualització de la traducció (des que la baixem)</th>
    <th>Informes de qualitat</th>
  </tr>
  </thead>
  <tbody>
{{#memories}}
  <tr>
    <td>
      {{#projectweb}}
      <a href="{{projectweb}}">{{name}}</a>
      {{/projectweb}}
      {{^projectweb}}
      {{name}}
      {{/projectweb}}
      {{#license}}
        <div>(llicència: {{license}})</div>
      {{/license}}
    </td>
    <td><a href="{{po_file_link}}">{{po_file_text}}</a></td>
    <td><a href="{{tmx_file_link}}">{{tmx_file_text}}</a></td>
    <td>{{words}}</td>
    <td>{{last_fetch}}</td>
    <td>{{last_translation_update}}</td>
    <td>
    {{#quality_report}}
     <a href="{{quality_file_link}}">{{quality_file_text}}</a>
    {{/quality_report}}
    </td>
  </tr>
{{/memories}}
  </tbody>
</table>

<br />
<p>Data de generació d'aquesta pàgina: {{generation_date}}.</p>
<br />
