Àmbit de cerca:
  <select name="project" class="chosen" multiple="true">
    <option value="tots" selected="selected">Tots els projectes</option>
    <option value="softcatala">Tots els projectes de Softcatalà</option>
{{#options}}
    <option value="{{.}}">{{.}}</option>
{{/options}}
  </select>
