.boxwhite3
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #191919;
    font-size: 13px;
    font-weight: normal;
}

.recursos-section
{
    color: #ba2626;
}

.result
{
    border-top: 5px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result-table td
{
    padding-top: 0em;
    padding-bottom: 0em;
}

.terminology 
{
    width: 75%; 
    padding: 3px;
    border: 3px solid gray;
    margin: 5px;
}

.legend 
{
    font-size: x-small;
}

.green
{
    color: green;
}

b[class^='match'],
b[class*=' match']
{
    color: #ba2626;
}

.searched
{
    font-weight:bold;
    font-size: 20px;
    font-family: Arial;
    color: #ba2626;
}

.searched-term
{
    font-style: bold;
    font-size: 20px;
    font-family: Arial;
}

.search-box
{
    background-color: #e5e3d8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-box p
{
    font-weight:bold;
}

.search-samples
{
    background-color: #f2f0e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

table
{
    border-collapse: collapse;
}

th
{
    background-color: #f2f0e5;
}

.main-table
{
    margin-left: 20px;
}

.main-table td
{
    padding-right: 20px;
    padding-top: 20px
}

.section
{
    color: #fff;
    margin-top: 4.5em;
}

.bodyRecurs
{
    margin-top: 4.5em;
}
