# This workflow will install Python dependencies, run tests and lint with a single version of Python

name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get clean && sudo apt-get update
        sudo apt-get install python3-dev libhunspell-dev libyaml-dev gettext zip mercurial bzr ruby git wget g++ curl subversion python3 python3-pip -y
        sudo gem install i18n-translators-tools
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install black flake8
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Install NPM dependencies
      run: |
        npm ci
    - name: Check JSON formatting with Prettier
      run: |
        npm run prettier:check
    - name: Test
      run: |
        cd src && nose2
    - name: black
      run: |
        black --check src/
    - name: flake8
      run: |
        flake8 src/builder/ --ignore E501,W503,E203,E722,E402
