# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get clean && sudo apt-get update
        sudo apt-get install python3-dev libhunspell-dev libyaml-dev gettext zip mercurial bzr ruby git wget g++ curl subversion python3 python3-pip -y
        sudo gem install i18n-translators-tools
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test
      run: |
        nose2
